* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar-brand{
    max-width:100px ;
  }

  .navbar-brand, .navbar-toggler{
    align-items: center;
    margin: 12px;
  }

  .navbar-collapse{
    width: 100%;
  }
/* 
  .custom-navbar {
    position: fixed;
    top: 0;
    left: 250px; 
    right: 0;
    z-index: 1000; 
    background-color: #fff;
    border-bottom: 1px solid #000;
  } */