* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar-brand{
    max-width:100px ;
  }

  .navbar-brand, .navbar-toggler{
    align-items: center;
    margin: 12px;
  }

  .navbar-collapse{
    width: 100%;
  }