.profession-title {
    text-align: left;
    margin-bottom: 20px;
    color: #99a0b0;
}

.profession-table {
    border: 2px solid #dee2e6;
    border-radius: 10px;
    margin-right: 300px;
}

.profession-table .blue-title {
    background-color: #0d6efd;
    color: white;
    font-size: 25px;
}

@media (min-width: 0px) {
    .profession-container {
        margin-top: -55%;
        width: 60%;
    }
}

@media (min-width: 770px) {
    .profession-container {
        margin-top: -65%;
        width: 60%;
    }
}

@media (min-width: 914px) {
    .profession-container {
        margin-top: -50%;
        width: 60%;
    }
}